/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .banner-content h1 {
        font-size: 60px;

    }

    .travel-backpack-section h2,
    .casual-backpack-section h2,
    .our-service h2 {
        margin-bottom: 60px;
        text-align: center;
    }

    .backpack {
        margin-bottom: 15px;
    }

    .feature img {
        width: 110px;
        margin: 20px auto;
    }

    .feature h3 {
        text-align: center;
    }

    .feature p {
        text-align: center;
        margin-bottom: 15px;
    }

    .features-image {
        margin-top: 50px;
    }

    .service-content p i {
        font-size: 55px;
    }

    .service-content {
        text-align: center;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .banner-content h1 {
        font-size: 70px;
    }

    .banner-section {
        padding-top: 50px;
    }

    .banner-image {
        margin-top: 60px;
    }

    .travel-backpack-section h2,
    .casual-backpack-section h2,
    .our-service h2 {
        margin-bottom: 60px;
        text-align: center;
    }

    .backpack {
        margin-bottom: 15px;
    }

    .feature img {
        width: 110px;
        margin: 20px auto;
    }

    .feature h3 {
        text-align: center;
    }

    .feature p {
        text-align: center;
        margin-bottom: 15px;
    }

    .features-image {
        margin-top: 50px;
    }

    .service-content p i {
        font-size: 55px;
    }

    .service-content {
        text-align: center;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}