* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}

h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn-custom {
    background-color: #2A1E59;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 22px 35px;
}

.btn-custom:hover {
    color: #76C27E;
    background-color: #290b7a;
}

.btn-custom i {
    padding-right: 12px;
}

/* Header Start */

header {
    background-color: #FFFFF4;
}

.menu {}

.menu ul {}

.menu ul li {
    margin-left: 50px;
    margin-top: 15px;
}

.menu ul li a {
    color: #3C3C3C !important;
    font-size: 16px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #76C27E !important;
}

/* Header End */

/* Banner Section Start */
.banner-section {
    background-color: #FFFFF4;
    padding-top: 20px;
    padding-bottom: 80px;
}

.banner-content {}

.banner-content h1 {
    font-size: 80px;
    font-weight: 500;
    color: #363958;
    margin: 0;
}

.banner-content h1 span {
    color: #76C27E;
}

.banner-content p {
    font-size: 16px;
    color: #3E3E3E !important;
    font-weight: 400;
    width: 70%;
    line-height: 26px;
    margin-top: 22px;
    margin-bottom: 28px;
}

.banner-image {
    background-image: url(../images/green.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-image img {
    width: 90%;
}

.banner-content .btn-custom {}

/* Banner Section End */

/* Features Sectopn Start  */
.features-section {
    background: #fff;
}

.feature {
    /* border: 1px solid rebeccapurple; */
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 6px 14px 0 #00000017;
}

.feature h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #363958;
}

.feature p {
    width: 90%;
}

.feature img {
    width: 60px;
    margin-right: 30px;
}

/* Features Sectopn End */


/* Casual Backpack Section Start */
.casual-backpack-section {
    padding-bottom: 80px;
}

.casual-backpack-section h2 {
    font-size: 48px;
    font-weight: 500;
    color: #363958;
    margin-bottom: 20px;
}

.casual-backpacks {}

.backpack {
    border: 0;
    box-shadow: 0 6px 14px 0 #00000017;
    border-radius: 20px;
}

.backpack .card-image {
    background-color: #E5E5E5;
    margin: 15px;
    border-radius: 20px;
    padding: 25px;
}

/* Casual Backpack Section End */